
  <div class="navbar sticky-top bg-white" style="width: 100%; margin-bottom: 0px; padding-top: 32px; padding-bottom: 16px;">
    <div class="col-2" style="padding-left: 0px";>
      <%= link_to user_path(current_user) do%>
        <i class="fas fa-chevron-left" style="font-size: 25px; color: #B85A36;"></i>
      <% end %>
   </div>
    <div class="col-8" style="justify-content: center">
      <h4 style="margin-bottom: 0px; text-align: center; padding: 0px;">Followed Cookbooks</h4>
    </div>
    <div class="col-2" style="padding-right: 0px; text-align: right;">
    </div>
  </div>
  </div>

<div class="container-fluid">
  <hr>
  <% if current_user %>
      <div class="row">
      <% @followed_cookbooks.each do |fcookbook| %>
        <div class="col-md-4 py-2">
            <%= render 'cookbooks/cookbook_card', cookbook: fcookbook.cookbook do %>
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

