<div class="container-fluid py-2" style="margin-bottom: 75px;">

<% if current_user %>
<h1>Followed Cookbooks</h1>
      <div class="row">
      <% @followed_cookbooks.each do |fcookbook| %>
        <div class="col-md-4 py-2">
            <%= render 'cookbooks/cookbook_card', cookbook: fcookbook.cookbook do %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


</div>


