<div class="container-fluid">
<h1>All Recipes</h1>
    <div class="row my-5">
        <% @recipes.each do |recipe| %>
            <div class="col-md-6 py-2">
              <%= render 'card', recipe: recipe, current_user: user_signed_in? ? current_user : nil %>
            </div>
        <% end %>
    </div>
</div>
