#searchModal {
  label {
    border: 1px solid #91acaa;
    border-radius: 8px;
    padding: 7px;
    &.active {
      background-color: #91acaa;
      color: white;
    }
  }
}

.btn-primary {
  color: #204742;
  background-color: #ffd964;
  border-color: #ffd964;
  margin: auto;
  border-radius: 18px;
  font-weight: 600;
  width: 100%;
  margin-top: 1rem;
}

.btn-info {
  border-radius: 20px;
  margin-bottom: 12px;
}

.btn-danger {
  border-radius: 20px;
}

.btn-success {
  border-radius: 20px;
  margin-bottom: 12px;
}

.btn-warning {
  border-radius: 20px;
}

.btn-facebook {
  background-color: #3b5998;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}
