.card {
  position: relative;
  border-radius: 16px;
  background-color: #91acaa;
  border: 0px;
}

.card-nav {
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  top: -1px;
  right: 0px;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.card-footer {
  position: absolute;
  top: 150px;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
  display: flex;
  align-items: center;
  padding-left: 8px;
  border-top: 0px;
  justify-content: flex-end;
  text-align: right;
  padding-right: 12px;
}

.card-body {
  border: 0px;
}

.card-show {
  position: relative;
  border-radius: 16px;
  background-color: $lightgreen;
  border: 0px;
  opacity: 0.8;
  // height: 80px;
}

.bookmark {
  position: absolute;
  width: 30px;
  top: 10px;
  right: 10px;
}

.favorite-count {
  position: absolute;
  color: #ffd964;
  top: 10px;
  right: 50px;
}

.diet-logo {
  width: 32px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-img-recipe {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 8px;
}

.card-img-show {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: absolute;
  top: 0px;
}

.card-product {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  width: 100%;
}

.card-product img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-right: 25px;
  position: relative;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .settings-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 40px;
}

.card-product .logout-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 0px;
}

.search {
  width: 60%;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.like {
  width: 50%;
}

.transparent {
  background-color: rgba(250, 250, 250, 0.6);
  height: 100%;
}

.transparent-recipe-title {
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 16px;
  height: 100%;
}

.recipe-info {
  padding-left: 12px;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.show-recipe-title {
  position: absolute;
  width: 80%;
  top: 465px;
  right: 10%;
}

.show-recipe-info {
  width: 375px;
  justify-content: space-evenly;
  position: absolute;
  top: 440px;
}

.recipe-status {
  position: absolute;
  top: 400px;
}

.filter {
  align-items: center;
}

.filter-items {
  margin: 4px;
}

.recipe-categories {
  border-radius: 8px;
  padding: 8px;
  background-color: $brown;
  color: white;
}

.avg-rating {
  position: absolute;
  top: 160px;
  right: 16px;
  color: #ffd964;
  font-size: medium;
  font-weight: 400;
}

.avg-rating-show {
  color: #ffd964;
  font-size: smaller;
  font-weight: 600;
  margin-top: 12px;
}

.nutritions {
  border: 2px solid #204742;
  border-radius: 8px;
  height: 80px;
  width: 80px;
  border-radius: 58px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.shopping-list-card-wrapper {
  position: relative;
  color: #204742;

  .shopping-list-icon {
    text-align: right;
    justify-content: end;
    padding-right: 24px;
    position: absolute;
    top: 23px;
    right: 30px;
  }

  .shopping-list-card {
    margin-bottom: 16px;
    border-radius: 32px;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px #204742;
  }
}

.list-recipe {
  display: flex;
  align-items: center;

  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 32px;
  &::-webkit-scrollbar {
    opacity: 0;
    size: 1px;
  }
}

.list-option {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.active-list {
  border-bottom: 2px solid #204742;
}

.shopping-ingredients-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #204742;
  margin: 0;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 21px;
}

.planner-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 8px 0px 4px;
  align-items: center;
  font-size: large;
}

.cookbook-pictures {
  display: flex;
}

.cookbook-pictures .main-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
}

.cookbook-pictures .cookbook-pictures-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cookbook-pictures .side-img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
}

.cookbook-pictures .side-img-bottom {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.cookbook-pictures .placeholder-main {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.cookbook-pictures .placeholder-side {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3));
}

.cookbook-pictures .placeholder-side-bottom {
  height: 100px;
  width: 100%;
  object-fit: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3));
}

.delete-cookbook-icon {
  position: absolute;
  width: 25px;
  bottom: 60px;
  right: 10px;
}

.delete-step-icon {
  position: absolute;
  width: 25px;
  top: 215px;
  right: 10px;
}

.edit-step-icon {
  position: absolute;
  width: 25px;
  top: 215px;
  right: 50px;
}

@media only screen and (min-width: 768px) {
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }
}
