.profile-icon {
  width: 25px;
}

.icon p {
  margin: 0;
  padding-left: 5px;
  position: relative;
  top: 11px;
  font-size: 10px;
}

.icon .icon-categories {
  color: $brown;
  font-size: 20px;
  font-weight: 500;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon div {
  display: flex;
  padding-top: 10px;
}

.shopping-list-icon {
  width: 20px;
}

.edit-recipe-icon {
  background-color: transparent;
  // position: absolute;
  width: 25px;
  bottom: 150px;
  right: 45px;
}

.delete-recipe-icon {
  background-color: transparent;
  width: 25px;
  bottom: 150px;
  right: 10px;
}

.like-icon {
  width: 25px;
}

.menu-icons {
  width: 30px;
  text-align: center;
}

.share-icon {
  width: 25px;
  text-align: center;
}
