// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "button";
@import "tabs";
@import "icons";
@import "forms";

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
