  <div class="navbar sticky-top bg-white" style="width: 100%; margin-bottom: 0px; margin-top: 16px; padding: 16px 0px;">
   <div class="container-fluid">
    <div class="col-2">
      <%= link_to user_path(current_user) do%>
        <i class="fas fa-chevron-left" style="font-size: 25px; color: #B85A36;"></i>
      <% end %>
    </div>
    <div class="col-8" style="justify-content: center">
      <h4 style="margin-bottom: 0px; text-align: center; padding: 0px;">Made Dishes</h4>
    </div>
    <div class="col-2" style="padding-right: 0px; text-align: right;">
    </div>
  </div>
  </div>

<div class="container-fluid">
  <hr>
  <% if current_user %>
  <div class="row">
    <% @cooked_recipes.each do |cooked_recipe| %>
      <div class="col-md-4 py-2">
        <%= render 'recipes/card', recipe: cooked_recipe.recipe do %>
        <% if current_user %>
          <% if current_user.has_cooked_recipe?(cooked_recipe.recipe) %>
            <%= link_to "I lied, I haven't cooked this yet", cooked_recipe_path(current_user.has_cooked_recipe?(cooked_recipe.recipe)), method: :delete, class: "btn btn-info" %>
          <% else %>
            <%= link_to "Cooked it!", recipe_cooked_recipe_index_path(cooked_recipe.recipe), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
        <% end %>
      </div>
    <% end %>
<% end %>
</div>
